      <!-- Page Footer -->
      <footer class="footer">
        <div class="container">
            <div class="row mb-2">Bank App · AWS EKS demo</div>
            <div class="row mb-3">
              <small>
                <b>Cluster: </b>{{ cluster_name }}, <b>Pod: </b>{{ pod_name }},
                <b>Node: </b>{{ node_name }}
              </small>
            </div>
            <div class="row mb-3">
              <small>
                This application runs on AWS for demonstration purposes only.
                It is not an actual bank or an official AWS service.
              </small>
            </div>
        </div>
      </footer>
